input {
    width: 12rem;
    height: 2rem;
    border-radius: 5px;
    border-style: none;
    padding-left: 0.5rem;
    font-size: medium;
}
input:focus {
    outline: none;
}
button {
    align-items: center;
    background: #ffffff;
    border: 0 solid #e2e8f0;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
        0 2px 4px -1px rgba(0, 0, 0, 0.06);

    color: #1a202c;
    display: inline-flex;
    font-family: Inter, sans-serif;
    font-size: 1rem;
    height: 2rem;
    padding: 1rem;
    width: auto;
    border-radius: 8px;
    cursor: pointer;
}
button:hover {
    background: #ffffffc0;
}
